.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.max-w-1360 {
	max-width: 1360px;
}
.bg-dfefd7 {
	background-color: #dfefd7;
}

.border-86c764 {
	border-color: #86c764;
}
.send-btn button {
	background-color: #ec8c77;
}
.text-558E37 {
	color: #558E37;
}

.text-282752 {
	color: 282752;
}

.text-353b41 {
	color: #353b41;
}

.border-d9dee2 {
	border-color: #d9dee3;
}

.bg-fff6f0 {
	background-color: #fff6f0;
}

.border-ec8c77 {
	border-color: #ec8c77;
}
.div-input a{
	border: 2px solid #86C764;
	color: #86C764;
}
.upload-text {
	color: #353B41;
}
input[type="checkbox" i] {
	accent-color: #ec8c77;
}
textarea {
	outline: none;
}
.num-btn1 button{
	
}
.num-btn1 button.selected , 
.number-btn2 button.selected,
.number-btn3 button.selected,
.number-btn4 button.selected
{
    background: #353B41;
	border: 1px solid #353B41;
	color: white;
	outline: none;
}

.choose-file {
	border: 2px solid #ec8c77;
	color: #ec8c77;
	border-radius: 5px;
}

input#fileName {
	width: 102px;
}

input#fileName::placeholder {
	color: #353b41;
}


button:focus {
	outline: none;
}

.order-engaged button.selected {
	box-shadow: 0px 0px 10px 4px rgba(236, 140, 119, 1);
}

.order-engaged button.selected img {
	filter: invert(67%) sepia(22%) saturate(1093%) hue-rotate(320deg) brightness(94%) contrast(98%);
}

.bg-d9dee2 {
	background-color: #d9dee2;
}

.h-36rem {
	height: 36rem;
}

@media (min-width: 640px) {
	.bg-f6f7f8 {
	background-color: #f6f7f8;
	}

	.h-36rem {
		height: auto;
	}
}