.header-top-bg {
	background-color: #5e6b7a;
}

.product-slider {
	max-width: 480px;
	max-height: 480px;
}

.product-detail {
	max-width: 640px;
}

.productColor1 {
	background-color: #ffc0b3;
}

.productColor2 {
	background-color: #f15a29;
}

.productColor3 {
	background-color: #bde4d7;
}

.productColor4 {
	background-color: #c1c5e6;
}

.productColor5 {
	background-color: #ede27b;
}

.mx-w-327 {
	max-width: 327px;
}

.fs-13 {
	font-size: 13px;
}

.vase, .loc-select, .addcart-modal {
	border-color: #e5e5e5;
}

.vase:hover {
	border-color: #ffc0b2;
}

.border-opacity {
	border-color: #ebebeb;
} 

.border-opacity { 
	border-color: #ebebeb; 
}

.ingredients {
	background-color: #f4f6f8;
}

.mx-w-142 {
	max-width: 142px;
}

.progress-boder {
	border-color: #EFA30E;
}

.progress-boder div {
	background-color: #efa30e;
}

.followUs {
	width: 1220px;
}

.product-slider .owl-nav {
	display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
}

.hand-picked-slider .owl-nav {
	display: none;
}

.hand-picked-slider .owl-dots {
	margin-top: 70px;
}

.footer-sticky {
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
}

.leaveReview_modal {
  	visibility: hidden;
  	opacity: 0;
  	background: rgba(77, 77, 77, .7);
  	transition: all .4s;
  	z-index: 9999;
}

.leaveReview_modal:target {
  	visibility: visible;
  	opacity: 1;
}

.leaveReview_modal:target>.closeoverlay {
	display: block;
}


.leaveReview_modal-mobile {
  	visibility: hidden;
  	opacity: 0;
  	background: rgba(77, 77, 77, .7);
  	transition: all .4s;
  	z-index: 9999;
}

.leaveReview_modal-mobile:target {
  	visibility: visible;
  	opacity: 1;
}

.viewAll-gifts {
  	visibility: hidden;
  	opacity: 0;
  	background: rgba(77, 77, 77, .7);
  	transition: all .4s;
  	z-index: 9999;
}

.viewAll-gifts:target {
  	visibility: visible;
  	opacity: 1;
}

.view-Product {
  	visibility: hidden;
  	opacity: 0;
  	background: rgba(77, 77, 77, .7);
  	transition: all .4s;
  	z-index: 9999;
}

.view-Product:target {
  	visibility: visible;
  	opacity: 1;
}

.product-height {
	height: 528px;
}

.over-scroll {
	overflow-y: scroll;
}

.addTocart {
  	visibility: hidden;
  	opacity: 0;
  	background: rgba(77, 77, 77, .7);
  	transition: all .4s;
  	z-index: 9999;
}

.addTocart:target {
  	visibility: visible;
  	opacity: 1;
}

.oragne-icon {
	-moz-transition: all .7s linear;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
}

.oragne-icon.rotate{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (max-width: 1024px) {
	.medium-width {
		width: 141px;
	}
}

@media (min-width: 1025px) {
	.image-height {
		height: 234px;
	}

	.width-49 {
		width: 198px;
	}	
}

@media (max-width: 767px) {
		.product-slider {
			max-width: 100%;
		}

		.product-detail {
			max-width: 100%;
		}
}

@media (max-width: 639px) {
	.followUs {
			width: 800px;
	}
	.product-content {
		margin-top: 68px;
	}
	.xs-fs-13 {
		font-size: 13px;
	}
}

@media (max-width:  340px) {
	.pg-container {
		padding-left: 16px;
		padding-right: 16px;
	}
}

@media (max-height: 750px)  and (max-width: 767px){
	.product-height {
    	height: 450px;
	}

	.add-cart-subproducts {
		height: 210px;
		overflow-y: auto;
	}
}

@media (max-height: 650px) {
	.product-height {
    	height: 420px;
	}

	.add-cart-subproducts {
		height: 120px;
		overflow-y: auto;
	}
}

@media (max-height: 570px) {
	.product-height {
    	height: 350px;
	}

	.add-cart-subproducts {
		height: 77px;
		overflow-y: auto;
	}
}