.font-inter {
	font-family: 'inter', sans-serif;
}

.body-right-content {
	width: calc(100% - 240px);
    margin-left: 240px;
}

.max-w-992 {
	max-width: 992px;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}



.tabcontent {
  display: none;
}

.tabBtn:focus {
  outline: unset;
}


.tabs-btn.selected {
  background-color: #ec8c77;
  color: #ffffff;
}

.tabs-btn.selected.resend {
  background-color: unset;
  color: #3c3949;
}

.tabs-btn.selected span {
	border-bottom: 0px;
}

.body-right-main {
	background: #FFFFFF;
	box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.16);
	border-radius: 24px;
}

.tabs_buttons {
	box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.16);
	display: block !important;
	position: absolute;
	right: 12px;
	top: 40px;
}

button:focus {
	outline: none;
}

.checkbox-label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    border: 1px solid lightgray;
    color: #ffffff;
    background-color: #ffffff;
}

.checkbox-label input:checked ~ .checkmark:after {
    display: block;
    color: #ffffff !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark:after {
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    margin-top: -1px;
    margin-left: -1px;
    background-color: #8a6ccf;
    color: #ffffff;
    font-family: "FontAwesome";
    content: "\f00c";
}


#tab4 .close-btn {
    padding: 0px 7px;
}
#tab4 .search-bar input:focus
{
    box-shadow: 0px 0px 0px 4px rgba(123, 97, 255, 0.2);
}
#tab4 input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -5px;
    left: -5px;
    position: relative;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #E5E5E5;
}
#tab4 input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -5px;
    left: -5px;
    position: relative;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 6px solid #8A6CCF;
}
#tab4 .flower-container.selected,
#tab4 .flower-container2.selected {
    box-shadow: 0px 0px 0px 4px rgba(123, 97, 255, 0.25);
}
#tab4 .flower-container:hover ,
#tab4 .flower-container2:hover
{
    box-shadow: 0px 0px 0px 4px rgba(123, 97, 255, 0.25);
}
#tab4 .toggle-btn .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  #tab4 .toggle-btn .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  #tab4 .toggle-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #tab4 .toggle-btn .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #tab4 .toggle-btn input:checked + .slider {
    background-color: #8A6CCF;
  }
  #tab4 .toggle-btn input:focus + .slider {
    box-shadow: 0 0 1px #8A6CCF;
  }
  #tab4 .toggle-btn input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
  }
  #tab4 .toggle-btn .slider.round {
    border-radius: 34px;
  }
  #tab4 .toggle-btn .slider.round:before {
    border-radius: 50%;
  }



#tab11 .close-btn {
    padding: 0px 7px;
}
#tab11 .search-bar input:focus
{
    box-shadow: 0px 0px 0px 4px rgba(123, 97, 255, 0.2);
}
#tab11 input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -5px;
    left: -5px;
    position: relative;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #E5E5E5;
}
#tab11 input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -5px;
    left: -5px;
    position: relative;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 6px solid #8A6CCF;
}
#tab11 .flower-container.selected,
#tab11 .flower-container2.selected {
    box-shadow: 0px 0px 0px 4px rgba(123, 97, 255, 0.25);
}
#tab11 .flower-container:hover ,
#tab11 .flower-container2:hover
{
    box-shadow: 0px 0px 0px 4px rgba(123, 97, 255, 0.25);
}
#tab11 .toggle-btn .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  #tab11 .toggle-btn .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  #tab11 .toggle-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #tab11 .toggle-btn .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  #tab11 .toggle-btn input:checked + .slider {
    background-color: #8A6CCF;
  }
  #tab11 .toggle-btn input:focus + .slider {
    box-shadow: 0 0 1px #8A6CCF;
  }
  #tab11 .toggle-btn input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
  }
  #tab11 .toggle-btn .slider.round {
    border-radius: 34px;
  }
  #tab11 .toggle-btn .slider.round:before {
    border-radius: 50%;
  }

  .center-border::after {
  	content: "";
    border-bottom: 1px solid #eeecf4;
    position: absolute;
    width: 100%;
    z-index: 10;
  }




@media (max-width: 1023px) {
	.body-right-content {
		width: calc(100% - 56px);
    margin-left: 56px;
	}
}



@media (max-width: 639px) {
	.body-right-content {
		width: calc(100% - 0px);
    margin-left: 0px;
	}
}

@media (max-width: 400px) {
	.tab-h1 {
		padding-right: 4px !important;
	}
	.tab-closebtn {
		padding-left: 4px !important;
	}
}


@media (max-width: 388px) {
	.tab-h1 {
		width: 122px;
	}

	.tab-h1.recharge {
		width: 80px;
	}

	.tab-h1.add-item {
		width: 102px;
	}

	.tab-h1.transaction {
		width: 130px;
	}
}